<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TecnoAnime</title>
        <link rel="stylesheet" href="/css/carritoDeCompra.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <script src="https://kit.fontawesome.com/beef23c28a.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    </head>
</head>
<body class="Carrito de Compras">
  <header class="header">
    <nav class="navbar navbar-expand-lg bg-light ">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">TecnoAnime</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/carritoDeCompra">Carrito </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="fomularioRegister">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login">Login</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Categorias
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Remeras</a></li>
                <li><a class="dropdown-item" href="#">Pantalones</a></li>
                <li><a class="dropdown-item" href="#">Zapatillas</a></li>
                <li><a class="dropdown-item" href="#">Buzos</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Poster</a></li>
                <li><a class="dropdown-item" href="#">Mangas</a></li>
                <li><a class="dropdown-item" href="#">Tazas</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
 
  
    
        
    
</header>
<main class="cart-main">

  

   <section>
       <nav class="SubTitle">
           <a href="#">Carrito</a>
           <a href="#">Favoritos</a>
           <hr class="linea-sup">
       </nav>
       
     
      
       <article class="product-container">
           <img src="/images/remera/r1.jpg" alt="Foto remeraLOL">
           <h2>Nombre </h2>
           <h3>$2.100</h3>
           <p>por unidad $1.050</p>
       </article>
           <div class="contador">
           <input type="number" id="number" value="1" min="1" max="100">
           </div>
           <div class="3-puntos">
           
           </div>
           <hr class="linea">

       <article class="product-container">
           <img src="/images/llaveros/l5.jpg" alt="Foto pantalonG" style="width: 110px; height: 110px;">
           <h2>Nombre </h2>
           <h3>$2.900</h3>
           <p>por unidad $1.450</p>
       </article>
           <div class="contador">
           <input type="number" id="number" value="1" min="1" max="100">
           </div>
           <hr class="linea">

       <article class="product-container">
           <img src="/images/llaveros/l4.jpg" alt="Foto remeraGOT">
           <h2>Nombre</h2>
           <h3>$2.800</h3>
           <p>por unidad $1.400</p>
       </article>
           <div class="contador">
           <input type="number" id="number" value="1" min="1" max="100">
           </div>
           <hr class="linea">

       <article class="product-container">
           <img src="/images/llaveros/l3.jpg" alt="Foto mediasLOL" >
           <h2>Nombre </h2>
           <h3>$3.000</h3>
           <p>por unidad $1.500</p>
       </article>
           <div class="contador">
           <input type="number" id="number" value="1" min="1" max="100">
           </div>
       <hr class="linea">
       <article class="total-container">
       <div class="total">
       <h4>Total</h4>
       <h5>$10.800</h5>
       </div>
       <button class="boton-compra">Comprar</button>
       </article>
  </main>
      <footer>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  
      </footer>
</body>
</html>