<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TecnoAnime</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <script src="https://kit.fontawesome.com/beef23c28a.js" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    </head>
</head>
<body>
    <header class="header">
          <nav class="navbar navbar-expand-lg bg-light ">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">TecnoAnime</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/carritoDeCompra">Carrito </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="fomularioRegister">Register</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="formularioLogin">Login</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Categorias
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Remeras</a></li>
                      <li><a class="dropdown-item" href="#">Pantalones</a></li>
                      <li><a class="dropdown-item" href="#">Zapatillas</a></li>
                      <li><a class="dropdown-item" href="#">Buzos</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Poster</a></li>
                      <li><a class="dropdown-item" href="#">Mangas</a></li>
                      <li><a class="dropdown-item" href="#">Tazas</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>    
    </header>
   <main>
    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/carrusel/8.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/carrusel/7.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/carrusel/6.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/carrusel/5.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/carrusel/4.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/carrusel/3.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/carrusel/2.webp" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/images/carrusel/1.webp" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
     <h2>Basado en tu última visita</h2>
     <section>
         <article>
             <div>
                 <img src="/images/remera/r1.jpg" alt="cafetera">
                 <div class="contain-card-items">
                     <i class="fas fa-truck"></i>
                     <div class="priceAndDiscount">
                         <p class="price">$6.770</p>
                         <p class="discount">40% OFF</p>
                     </div>
                     <h4 class="description">Remera</h4>
                 </div>
             </div>


         </article>
         
         <article>
          <div>
              <img src="/images/remera/r2.jpg" alt="cafetera">
              <div class="contain-card-items">
                  <i class="fas fa-truck"></i>
                  <div class="priceAndDiscount">
                      <p class="price">$6.770</p>
                      <p class="discount">40% OFF</p>
                  </div>
                  <h4 class="description">remera</h4>
              </div>
          </div>


      </article>
      <article>
        <div>
            <img src="/images/remera/r3.jpg" alt="cafetera">
            <div class="contain-card-items">
                <i class="fas fa-truck"></i>
                <div class="priceAndDiscount">
                    <p class="price">$6.770</p>
                    <p class="discount">40% OFF</p>
                </div>
                <h4 class="description">remera</h4>
            </div>
        </div>


    </article>
    <article>
      <div>
          <img src="/images/remera/r4.jpg" alt="cafetera">
          <div class="contain-card-items">
              <i class="fas fa-truck"></i>
              <div class="priceAndDiscount">
                  <p class="price">$6.770</p>
                  <p class="discount">40% OFF</p>
              </div>
              <h4 class="description">remera</h4>
          </div>
      </div>


  </article>
  <article>
    <div>
        <img src="/images/remera/r5.jpg" alt="cafetera">
        <div class="contain-card-items">
            <i class="fas fa-truck"></i>
            <div class="priceAndDiscount">
                <p class="price">$6.770</p>
                <p class="discount">40% OFF</p>
            </div>
            <h4 class="description">remera</h4>
        </div>
    </div>


</article>
     </section>
<h2>tazas</h2>
<section>
  <article>
    <div>
        <img src="/images/tazas/t1.jpg" alt="cafetera">
        <div class="contain-card-items">
            <i class="fas fa-truck"></i>
            <div class="priceAndDiscount">
                <p class="price">$6.770</p>
                <p class="discount">40% OFF</p>
            </div>
            <h4 class="description">remera</h4>
        </div>
    </div>


</article>
<article>
  <div>
      <img src="/images/tazas/t2.jpg" alt="cafetera">
      <div class="contain-card-items">
          <i class="fas fa-truck"></i>
          <div class="priceAndDiscount">
              <p class="price">$6.770</p>
              <p class="discount">40% OFF</p>
          </div>
          <h4 class="description">taza</h4>
      </div>
  </div>


</article>
<article>
  <div>
      <img src="/images/tazas/t3.jpg" alt="cafetera">
      <div class="contain-card-items">
          <i class="fas fa-truck"></i>
          <div class="priceAndDiscount">
              <p class="price">$6.770</p>
              <p class="discount">40% OFF</p>
          </div>
          <h4 class="description">tazas</h4>
      </div>
  </div>


</article>
<article>
  <div>
      <img src="/images/tazas/t4.jpg" alt="cafetera">
      <div class="contain-card-items">
          <i class="fas fa-truck"></i>
          <div class="priceAndDiscount">
              <p class="price">$6.770</p>
              <p class="discount">40% OFF</p>
          </div>
          <h4 class="description">tazas</h4>
      </div>
  </div>


</article>
<article>
  <div>
      <img src="/images/tazas/t5.jpg" alt="cafetera">
      <div class="contain-card-items">
          <i class="fas fa-truck"></i>
          <div class="priceAndDiscount">
              <p class="price">$6.770</p>
              <p class="discount">40% OFF</p>
          </div>
          <h4 class="description">tazas</h4>
      </div>
  </div>


</article>
</section>
<h2>Llaveros de madera</h2>
<section>
  <article>
    <div>
        <img src="/images/llaveros/l1.jpg" alt="llavero">
        <div class="contain-card-items">
            <i class="fas fa-truck"></i>
            <div class="priceAndDiscount">
                <p class="price">$6.770</p>
                <p class="discount">40% OFF</p>
            </div>
            <h4 class="description">llavero</h4>
        </div>
    </div>
  </article>
  <article>
    <div>
        <img src="/images/llaveros/l2.jpg" alt="llavero">
        <div class="contain-card-items">
            <i class="fas fa-truck"></i>
            <div class="priceAndDiscount">
                <p class="price">$6.770</p>
                <p class="discount">40% OFF</p>
            </div>
            <h4 class="description">llavero</h4>
        </div>
    </div>
  </article>
  <article>
    <div>
        <img src="/images/llaveros/l3.jpg" alt="llavero">
        <div class="contain-card-items">
            <i class="fas fa-truck"></i>
            <div class="priceAndDiscount">
                <p class="price">$6.770</p>
                <p class="discount">40% OFF</p>
            </div>
            <h4 class="description">llavero</h4>
        </div>
    </div>
  </article>
  <article>
    <div>
        <img src="/images/llaveros/l4.jpg" alt="llavero">
        <div class="contain-card-items">
            <i class="fas fa-truck"></i>
            <div class="priceAndDiscount">
                <p class="price">$6.770</p>
                <p class="discount">40% OFF</p>
            </div>
            <h4 class="description">llavero</h4>
        </div>
    </div>
  </article>
  <article>
    <div>
        <img src="/images/llaveros/l5.jpg" alt="llavero">
        <div class="contain-card-items">
            <i class="fas fa-truck"></i>
            <div class="priceAndDiscount">
                <p class="price">$6.770</p>
                <p class="discount">40% OFF</p>
            </div>
            <h4 class="description">llavero</h4>
        </div>
    </div>
  </article>
</section>
<h2>Mangas</h2>
<section>
  
    <article>
      <div>
          <img src="/images/mangas/m1.webp" alt="llavero">
          <div class="contain-card-items">
              <i class="fas fa-truck"></i>
              <div class="priceAndDiscount">
                  <p class="price">$6.770</p>
                  <p class="discount">40% OFF</p>
              </div>
              <h4 class="description">mangas</h4>
          </div>
      </div>
    </article>
    <article>
      <div>
          <img src="/images/mangas/m2.webp" alt="llavero">
          <div class="contain-card-items">
              <i class="fas fa-truck"></i>
              <div class="priceAndDiscount">
                  <p class="price">$6.770</p>
                  <p class="discount">40% OFF</p>
              </div>
              <h4 class="description">mangas</h4>
          </div>
      </div>
    </article>
    <article>
      <div>
          <img src="/images/mangas/m3.webp" alt="llavero">
          <div class="contain-card-items">
              <i class="fas fa-truck"></i>
              <div class="priceAndDiscount">
                  <p class="price">$6.770</p>
                  <p class="discount">40% OFF</p>
              </div>
              <h4 class="description">mangas</h4>
          </div>
      </div>
    </article>
    <article>
      <div>
          <img src="/images/mangas/m4.webp" alt="llavero">
          <div class="contain-card-items">
              <i class="fas fa-truck"></i>
              <div class="priceAndDiscount">
                  <p class="price">$6.770</p>
                  <p class="discount">40% OFF</p>
              </div>
              <h4 class="description">mangas</h4>
          </div>
      </div>
    </article>
    <article>
      <div>
          <img src="/images/mangas/m5.webp" alt="llavero">
          <div class="contain-card-items">
              <i class="fas fa-truck"></i>
              <div class="priceAndDiscount">
                  <p class="price">$6.770</p>
                  <p class="discount">40% OFF</p>
              </div>
              <h4 class="description">mangas</h4>
          </div>
      </div>
    </article>
</section>
  </main>
    <footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    </footer>
</body>
</html>